body{
    font-size:62.5%;
}

.Option{
    background-color:rgba(0,0,100,0.5);
    width:20em;
}

.current_div{
    position:relative;
    background-color:rgba(200,200,200,0.9);
    display:-webkit-box;
}
.current_img{
    position:relative;
    background-color:rgba(0,200,200,0.5);
    width:4em;
    /*width:10.1em;*/
    /*height:10.1em;*/
    overflow:hidden;
}
.current_text{
    position:relative;
    height:3em;
    line-height:3em;
    font-size:2.0em;
    font-weight:normal; 
    color:#fff;
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
}


.opt_choose{

}

.opt_text{
    margin-top:0.5em;
    height:2em;
    line-height:2em;
    overflow:hidden;
    font-size:1.4em;
    font-weight:normal; 
    color:#fff;
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
}
.opt_text:hover{
    background-color:rgba(0,0,0,0.9);
    border-radius:0.3em; 
}
