body{
    font-size:62.5%;
}

.Option{
    background-color:rgba(0,0,100,0.2);
    /*width:20em;*/
}

.current_div{
    background-color:rgba(200,200,200,0.2);
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    overflow:hidden;
}

.current_img{
    height:101px;
    width:101px;
    background-image:url("../img/setBackgroud.png");
    overflow:hidden;
}

.current_text{
    background-color:rgba(0,200,200,0.2);
    height:3em;
    line-height:3em;
    font-size:2.0em;
    font-weight:normal; 
    color:#fff;
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
}


.opt_choose{
    background-color:rgba(50,0,50,0.2);
    width:9.2em;
    /*display:-webkit-box;*/
    /*-webkit-box-orient:vertical;*/
}

.opt_text{
    margin-bottom:0.2em;
    margin-top:0.2em;
    height:2em;
    line-height:2em;
    overflow:hidden;
    font-size:1.4em;
    font-weight:normal; 
    color:#fff;
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
}
.opt_text:hover{
    background-color:rgba(0,0,0,0.9);
    border-radius:0.3em; 
}
