@font-face {
    font-family:'MavenProLight';
    src:url('../font/MavenProLight-200.otf') format('opentype');
}
body{
    cursor:default;
    overflow:hidden;
    background-color:rgba(0,0,0,0.92);

    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-size:62.5%;
}

.Zone{
    z-index:10;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.canvas{
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
