.DockMode{
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:auto;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.dock_mac{}
.dock_mac .left, .dock_mac .right{ width:60px; height:73px; float:left;}
.dock_mac .left{ background:url(../img/dock/panel_left.png);}
.dock_mac .right{ background:url(../img/dock/panel_right.png)}
.dock_mac .center{ float:left; background:url(../img/dock/panel_middle.png); background-size:cover;height:73px;}
.dock_mac .center img{margin:7px 3px;-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 5%,rgba(255,255,255,.07));}

.dock_win7{height:48px; background:rgba(0,0,0,.6); width:100%; overflow:hidden;}
.dock_win7 .right{ float:right;}
.dock_win7 .right img{width:16px; height:16px; margin:16px 8px;float:right;}
.dock_win7 .left{ float:left;height:48px;}
.dock_win7 .left img{width:32px; height:32px; margin:8px 17px;}
.dock_win7 .time{ color:#fff; font-size:13px; line-height:16px; margin:16px 40 16px 12px; float:right; height:16px;}

.dock_xp{height:36px; background:rgba(0,0,0,.6); width:100%; overflow:hidden;}
.dock_xp .right{ float:right;}
.dock_xp .right img{width:16px; height:16px; margin:12px 8px;float:right;}
.dock_xp .left{ float:left;height:36px; margin:0 4px;}
.dock_xp .left img{width:24px; height:24px; margin:6px 8px;}
.dock_xp .time{ color:#fff; font-size:13px; line-height:16px; margin:12px 40 16px 12px; float:right; height:16px;}
