.Start{
    width:100%;
    height:100%;

    text-align:center;
    color:#fff;
    text-shadow:0 1px 1px rgba(0,0,0,0.7);
    font-weight:normal; 

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.guide_choose{
    width:60em;
    height:30em;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:horizontal;
}


.older{
    position:absolute;
    right:5em;
    bottom:3em;
    font-size:1.7em;
    text-shadow: 0 0.2em 0.2em rgba(0,0,0,0.5);
}
.older:hover{
    color:rgba(65,105,255,0.9);
    cursor:pointer;
}
