[Desktop Entry]
Type=Application
Name=DeepinDesktopEnvironment
Exec=desktop
NoDisplay=true
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
