#slider {
    margin: 10px;
}

.color_board {
    width: 50px;
    height: 50px;
    background: red;
}

.entry {
    width: 100px;
    margin-bottom: 5px;
}

#c_s {
    margin-bottom: 15px;
}

#c_b {
    margin-bottom: 15px;
}

#show {
    margin-top:40px;
    -webkit-box-flex: 1;
}
.ShowContainer {
    display: -webkit-box;
}
.ShowItem {
    /*background: red;*/
    margin: 5px;
    width: 80px;
    height: 80px;
}
.ShowItem img {
    max-width: 48px;
    max-height: 48px;
}
#config {
    width: 200px;
    padding: 15px;
    border: 1px dashed black;
}

#main {
    display: -webkit-box;
    -webkit-box-flex: 1;
}

#icon_show {
    background: blue;
    height: 80px;
}

#title {
    position: fixed;
}
#title span {
    text-align: center;
    width: 80px;
    display: inline-block;
}

body {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    width: 600px;
    height: 450px;
    background: rgba(50, 100, 80, 0.3);
    padding: 0px;
    margin: 0px;
}
