 
@-webkit-keyframes recognize_animation {
    0% {background-position: left bottom;}
    100% {background-position: right bottom;}
}

@-webkit-keyframes menu_show_move {
    0% {opacity: 0.0;margin-left:0;}
    80% {opacity: 0.5;margin-left:-25%;}
    100% {opacity: 1.0;margin-left:-23%;}
}
@-webkit-keyframes menu_hide_move {
    0% {opacity: 1.0;left:-23%;}
    20% {opacity: 0.5;left:-25%;}
    100% {opacity: 0.0;left:0;}
}
@-webkit-keyframes opt_show_move {
    0% {opacity: 0.0;left:0;width:80*0.6;height:80*0.6;}
    60% {opacity: 0.5;left:-25%;width:80*0.59;height:80*0.59;}
    100% {opacity: 1.0;left:-23%;width:80;height:80;}
}
@-webkit-keyframes opt_hide_move {
    0% {opacity: 1.0;left:-23%;width:80;height:80;}
    60% {opacity: 0.5;left:-25%;width:80*0.59;height:80*0.59;}
    100% {opacity: 0.0;left:0;width:80*0.6;height:80*0.6;}
}

@-webkit-keyframes hide_animation {
    0% {opacity: 1.0;}
    100% {opacity: 0.0;}
}
@-webkit-keyframes show_animation{
    0% {opacity: 0.0;}
    100% {opacity: 1.0;}
}

