 
@-webkit-keyframes recognize_animation {
    0% {background-position: left bottom;}
    100% {background-position: right bottom;}
}

@-webkit-keyframes menu_show_move {
    0% {opacity: 0.0;margin-left:0;}
    100% {opacity: 1.0;margin-left:-20%;}
}
@-webkit-keyframes menu_hide_move {
    0% {opacity: 1.0;margin-left:-20%;}
    100% {opacity: 0.0;margin-left:0;}
}

@-webkit-keyframes div_users_hide_move_lock {
    0% {opacity: 1.0;margin-left:0;}
    100% {opacity: 0.5;margin-left:-14%;}
}
@-webkit-keyframes div_users_restore_move_lock {
    0% {opacity: 0.5;margin-left:-14%;}
    100% {opacity: 1.0;margin-left:0;}
}

@-webkit-keyframes div_users_hide_move_greeter {
    0% {opacity: 1.0;margin-left:0;margin-top:0;}
    100% {opacity: 0.5;margin-left:-14%;margin-top:6%;}
}
@-webkit-keyframes div_users_restore_move_greeter {
    0% {opacity: 0.5;margin-left:-14%;margin-top:6%;}
    100% {opacity: 1.0;margin-left:0;margin-top:0;}
}

@-webkit-keyframes login_hide_move {
    0% {opacity: 1.0;margin-left:20%;}
    100% {opacity: 0.0;margin-left:0;}
}
@-webkit-keyframes userinfo_restore_move {
    0% {opacity: 0.0;margin-left:0;}
    100% {opacity: 1.0;margin-left:20%}
}


@-webkit-keyframes hide_animation {
    from { opacity: 0;display:block;}
    to { opacity: 1;display:none;}
}
@-webkit-keyframes show_animation {
    from { opacity: 0;display:none;}
    to { opacity: 1;display:block;}
}

@-webkit-keyframes username_up_animation {
    from {font-size:2.0em;margin-top:16px;}
    to {font-size:1.5em;margin-top:-26px;}
}
@-webkit-keyframes username_down_animation {
    from {font-size:1.5em; margin-top:-26px;}
    to {font-size:2.0em; margin-top:16px;}
}

@-webkit-keyframes div_users_down_animation {
    from {margin-top:0;}
    to {margin-top:-10%;}
}
@-webkit-keyframes div_users_up_animation {
    from {margin-top:-10%;}
    to {margin-top:0;}
}
