body{
    cursor:default;
    overflow:hidden;

    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-size:62.5%;
}

.Greeter{
}

.div_users{
    position:fixed;
    z-index:10;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_keyboard{
    position:fixed;
    z-index:10;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_version{
    position:fixed;
    z-index:10;
    bottom:3.5em;
    left:3em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_desktop{
    position:fixed;
    z-index:10;
    bottom:3.0em;
    right:19em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

}

.div_userchoose{
    position:fixed;
    z-index:10;
    bottom:3.0em;
    right:11em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;


}


.div_power {
    position:fixed;
    z-index:10;
    bottom:3.0em;
    right:3em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
