body{
    cursor:default;
    overflow:hidden;
    /*background-image: url(../images/background1.jpg);*/

    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
    font-size:62.5%;
}

.Greeter{
    /*background-color:rgba(0,0,0,0.6)*/
}

.div_users{
    /*background-color:rgba(0,255,120,0.2);*/
    position:absolute;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.div_version{
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.5em;
    left:3em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_desktop{
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.0em;
    right:19em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

}

.div_userswitch{
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.0em;
    right:11em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;


}


.div_power {
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.0em;
    right:3em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


