body{
    cursor:default;
    overflow:hidden;
    
    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-size:62.5%;
}

.Lock{
    /*background-color:rgba(0,0,0,0.3)*/
}
.div_users{
    position:absolute;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_time {
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:4em;
    left:3em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_switchuser {
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.5em;
    right:10em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.div_power {
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.5em;
    right:3em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}




.div_media_control{
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:3.5em;
    right:19em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
