body{
    cursor:default;
    overflow:hidden;
    background-image: url(/usr/share/backgrounds/default_background.jpg) center no-repeat;
    background-color:rgba(0,0,0,0.7)
}


.div_users{
    /*background-color:rgba(0,255,120,0.2);*/
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}




.div_time {
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:10%;
    left:70px;
    width:250px;
    height:150px;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.div_media_control{
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:10%;
    right:270px;
    width:300px;
    height:150px;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}



.div_power {
    /*background-color:rgba(125,255,120,0.2);*/
    position:absolute;
    bottom:10%;
    right:70px;
    width:100px;
    height:100px;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
