body{
    cursor:default;
    overflow:hidden;
    
    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-size:62.5%;
    
}

.Lock{
}
.div_users{
    position:fixed;
    z-index:10;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_time {
    position:fixed;
    z-index:10;
    bottom:4em;
    left:3em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_switchuser {
    position:fixed;
    z-index:10;
    bottom:3.5em;
    right:10em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.div_power {
    position:fixed;
    z-index:10;
    bottom:3.5em;
    right:3em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}




.div_media_control{
    position:fixed;
    z-index:10;
    bottom:3.5em;
    right:19em;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
