body{
    cursor:default;
    overflow:hidden;

    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-size:62.5%;
}

.div_users{
    position:absolute;
    z-index:10;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_keyboard{
    position:absolute;
    z-index:10;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_time {
    position:absolute;
    z-index:10;
    bottom:4em;
    left:3em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_switchuser {
    position:absolute;
    z-index:10;
    bottom:3.5em;
    right:10em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.div_power {
    position:absolute;
    z-index:10;
    bottom:3.5em;
    right:3em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.div_media_control{
    position:absolute;
    z-index:10;
    bottom:3.5em;
    right:19em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
