@import url(menu.css);
@import url(user.css);
@import url("../../common/css/animation.css");

body{
    cursor:default;
    overflow:hidden;
    width:100%;
    height:100%;
    background: url(/usr/share/backgrounds/default_background.jpg) center no-repeat;
    -webkit-user-select:none;
}

#background {
    position: fixed;
    z-index: -1000;
}

.Background{
    background-size:cover;
    height:100%;
    width:100%;
    overflow:hidden;
    z-index:-10000;
    top: 0;
    left: 0;
    #-webkit-animation:linear-show 2s ease-out;
}

#Version{ 
    /*background: url(../images/ver.png) no-repeat;*/
    font-size:24px;
    text-shadow:0 0 2px #333;
    color: white;
    width:440px;
    height:50px;
    position:absolute;
    bottom:22px;
    left:50%;
    text-align:center;
    margin-left:-220px;
}

#Version sup{
    font-size:12px;
}

#Debug{
    width:300px;
    position:absolute;
    right:20px;
    color:red;
}

.Time {
    cursor:default;
    width:350px;
    height:217px;
    position:absolute;
    bottom:0;
    left:0;
    padding-left:30px;
}

.Time01{
    left: 0px;
    cursor:default;
    font-size:120px;
    color: #fff;
    display: block;
    line-height: 150px;
    display: inline-block;
    height:130px;
    color:#fff;
    text-shadow:0 0 2px #333;
}

.Time02{  
    cursor:default;
    padding-left:10px;
    font-size:30px;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 50px;
    color:#fff;
    text-shadow:0 0 2px #333;
}

@-webkit-keyframes linear-showtime {
    0% { opacity: 0.3;}
    50% { opacity: 1; }
    100% { opacity: 0.3;}
}

.timecolon{
    display:inline-block;
    line-height: 50px;
    padding-bottom: 25px;
    -webkit-animation:linear-showtime 1s infinite linear;
}

.Detext{
    cursor:default;
    padding:0;
    margin:0 5px 0 0;
    font-size: 18px;
    text-align:right;
    height:32px;
    width:300px;
    bottom:20px;
    line-height: 30px;
    color:#fff;
    text-shadow:0 0 2px #333;
    -webkit-user-select:none;
}

#bottom_buttons {
    position: absolute;
    bottom: 43px;
    right: 20px;
    display: -webkit-box;
}
