@import url(menu.css);
@import url(user.css);
@import url("../../common/css/animation.css");

body{
    cursor:default;
    overflow:hidden;
    width:100%;
    height:100%;
    #background: url(../images/1440x900.jpg) center no-repeat;
    -webkit-user-select:none;
}

.Background{
    width:100%;
    height:100%;
    position:fixed;
    z-index:-10000;
    top: 0;
    left: 0;
    -webkit-animation:linear-show 2s ease-out;
}

#Version{ 
    background: url(../images/ver.png) no-repeat; 
    width:340px; 
    height:50px; 
    position:absolute; 
    bottom:22px; 
    left:50%; 
    margin-left:-170px;
}

#Debug{
    width:300px;
    position:absolute;
    right:20px;
}

.Time{
    cursor:default;
    width:350px; 
    height:200px; 
    position:absolute; 
    padding-left:30px; 
    bottom:0; 
    left:0;
}

.Time01{ 
    cursor:default;
    font-size:120px;
    color: #fff; 
    display: block; 
    line-height: 150px; 
    list-style-type: none; 
    display: inline-block; 
    height:130px;
    color:#fff;
    text-shadow:0 0 2px #333;  
}

.Time02{  
    cursor:default;
    padding-left:10px;
    font-size:30px;
    color: #fff; 
    display: block; 
    height: 30px; 
    line-height: 50px; 
    color:#fff;
    text-shadow:0 0 2px #333;  
}

#Detext{
    cursor:default;
    padding:0;
    margin:0 5px 0 0;
    text-align:right;
    list-style:none;
    height:32px;
    width:300px;
    bottom:20px;
    line-height: 30px;
    color:#fff;
    text-shadow:0 0 2px #333;
    -webkit-user-select:none;
}

#bottom_buttons {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: -webkit-box;
}

