.MediaControl{
    /*width:20em;*/
    /*height:7.8em;*/
    
    display:-webkit-box;
    -webkit-box-orient:vertical;
}

.name{
    width:100%;
    /*padding-left:20px;*/
    padding-right:-2em;
    font-size:1.2em;
    color:#fff;
    text-align:center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}


.control{
    margin-top:1em;
    display:-webkit-box;
    cursor:pointer;
}

.up{
    /*width:5em;*/
    /*height:5em;*/
}
 .play{
    /*width:5em;*/
    /*height:5em;*/
}
.next{
    /*width:5em;*/
    /*height:5em;*/
}
.voice{
    cursor:pointer;
    /*width:5em;*/
    /*height:5em;*/
}

.VoiceControl{
}

.background{
    position:absolute;
    left:0px;
    top:0px;
    width:1.8px;
    height:3.5em;
}

.myCanvas{
    position:relative;
}
.num{
    position:relative;
    color:#fff;
    text-align:center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
