
.Message{
    background-color:rgba(0,0,0,0.2);
}

.title_p{
    color:#fff;
    text-shadow:0 0 0.2em #333;
    font-weight:normal; 
    font-size:1.8em;
    white-space:pre-wrap;
}

.title_ol{
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
}

.title_li{
    /*line-height:2em;*/
}
