
.Message{
    color:#fff;
}

.title_p{
    text-shadow:0 0 0.2em #333;
    font-weight:normal; 
    font-size:1.5em;
}

.title_li{
    list-style:none;
    margin-top:2em;
}
.title_li span{
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
    font-size:1.3em;
}
