#nav {padding:0; margin:0 20px 0 0; list-style:none; height:32px; width:90px; position:relative; z-index:500; position:absolute; bottom:20px; right:0;}

#nav1 {padding:0; margin:0 170px 0 0; text-align:right; list-style:none; height:32px; width:300px; position:relative; z-index:500; position:absolute; bottom:20px; right:0;line-height: 30px; color:#fff; text-shadow:0 0 2px #333; }

#nav2 {padding:0; margin:0 100px 0 0; list-style:none; height:32px; width:90px; position:relative; z-index:500; position:absolute; bottom:20px; right:0;}

.off{ color:#333; font-size:14px;display:block; padding:5px; border: solid 1px rgba(255,255,255,0.6); background: url(../images/control-power.png) center rgba(255,255,255,0.3) no-repeat;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; text-align:center; width:20px; float:right; border-right:1px solid #999;box-shadow: 0px 4px 16px rgba(0,0,0,0.4);}
.off:hover{background: url(../images/control-power.png) center no-repeat rgba(0,0,0,0.8); cursor:pointer;border: solid 1px #000;}

.st_btn { color:#333; font-size:14px;display:block; padding:5px; border: solid 1px rgba(255,255,255,0.6); background: url(../images/control-upw.png) center rgba(255,255,255,0.3) no-repeat;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0; text-align:center;width:20px; float:right;box-shadow: 0px 4px 16px rgba(0,0,0,0.4);}
.st_btn:hover{ background:url(../images/control-up.png) center no-repeat rgba(0,0,0,0.8);color:#F60;border: solid 1px #000;}

#sd.menu{ position:absolute; bottom:35px; box-shadow: 0px 4px 10px rgba(0,0,0,0.4); width:88px;border: solid 1px rgba(255,255,255,0.6); background:rgba(255,255,255,0.5);-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px; padding:4px 0;}
#sd.menu ul{ margin:0px; padding:0px; list-style:none;}
#sd.menu ul li a{ font-size:12px; color:#333; text-decoration:none; width:88px; display:block; text-indent:10px; height:22px; line-height:22px;}
#sd.menu ul li:hover{background:rgba(0,0,0,0.8);}
#sd.menu ul li:hover a{color:#00B7E5;}
#sd.menu ul li:hover a:active{color:#f30;}

.desktop{ color:#333; font-size:14px;display:block; padding:5px 5px 4px 5px; border: solid 1px rgba(255,255,255,0.6); rgba(255,255,255,0.3) no-repeat;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; text-align:center; width:20px; float:right; border-right:1px solid #999;box-shadow: 0px 4px 16px rgba(0,0,0,0.4);}
.desktop img{ border:#fff 1px solid;}
.desktop:hover{background: rgba(0,0,0,0.8); cursor:pointer;border: solid 1px #000;}

#dt.menu{ position:absolute; bottom:35px; box-shadow: 0px 4px 10px rgba(0,0,0,0.4); width:88px;border: solid 1px rgba(255,255,255,0.6); background:rgba(255,255,255,0.5);-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px; padding:4px 0;}
#dt.menu ul{ margin:0px; padding:0px; list-style:none;}
#dt.menu ul li a{ font-size:12px; color:#333; text-decoration:none; width:88px; display:block; text-indent:5px; height:22px; line-height:22px;}
#dt.menu ul li img { border:#fff 1px solid; float:left; margin:2px 0 0 5px;}
#dt.menu ul li:hover{background:rgba(0,0,0,0.8);}
#dt.menu ul li:hover a{color:#00B7E5;}
#dt.menu ul li:hover a:active{color:#f30;}
