
.triangle{
    left:15px;
    width:26px;
    height:18px;
}

#boxscroll {
	width: 220px;
    max-height: 18em;
    border-radius:4px;
    background:rgba(255,255,255,0.05);
	border:rgba(0,0,0,0.7) 1px solid;
    box-shadow:inset 0 -0.1em rgba(0,0,0,0.5);
    overflow-y:scroll;
}
#boxscroll ul{ padding:0; margin:0; cursor:pointer;list-style:none;}
#boxscroll li{
    height:3.6em;
    line-height:3.6em;
    padding:0px 10px 0px 25px;
    background:rgba(0,0,0,0.5);
}
#boxscroll a {
	color: #FFFFFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#boxscroll li:hover {
	background:rgba(0,0,0,0.6);
}
#boxscroll li:active {
    background:rgba(0,0,0,0.5);
}
#boxscroll li:hover a{
	color:#00ffff;
}
.nicescroll-rails > div {
	background: -webkit-gradient(  linear, left top, left bottom,  from(#000),  to(#000));
	-webkit-border-radius: 6px;border-radius: 6px;
}
.nicescroll-rails:hover {
	background: rgba(0,0,0,0.7);
	-webkit-border-radius: 5px;border-radius: 5px;
	-webkit-box-shadow: none;
}
