.TimeDate {
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    /*width:200px;*/
    /*height:100px;*/
}

@font-face {
    font-family:'MavenProLight';
    src:url('../font/MavenProLight-200.otf') format('opentype');
}


.time{
    padding-top:30px;
    display: block;
    text-align:center;
}

.TimeDate span{
    color: #fff;
    text-shadow:0 0 2px #333;
    font-size:8em;
    font-family: MavenProLight;
}

.date{
    margin-top:20px;
    display: block;
    font-size:2em;
    color: #fff;
    /*font-family: MavenProLight;*/
    text-shadow:0 0 2px #333;
    text-align:center;
    /*margin-left:10px;*/
}

.date:lang(zh){
    /*margin-left:15px;*/
}
