.TimeDate {
    /*background-color:rgba(125,255,120,0.2);*/
    width:200px;
    height:100px;
}

@font-face {
    font-family:'MavenProLight';
    src:url('../font/MavenProLight-200.otf') format('opentype');
}


.time{
    padding-top:30px;
    display: block;
    text-align:left;
}

span{
    color: #fff;
    text-shadow:0 0 2px #333;
    font-size:90px;
    font-family: MavenProLight;
}

.date{
    margin-top:20px;
    display: block;
    font-size:15px;
    color: #fff;
    /*font-family: MavenProLight;*/
    text-shadow:0 0 2px #333;
    text-align:left;
    margin-left:15px;
}
