
.User{
    /*background: rgba(255,0,0,0.3);*/
    position:relative;
    /*overflow:hidden;*/
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.prevuserinfo{
    /*background: rgba(255,0,0,0.3);*/
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    opacity:0.0;
    width:6em;
    
    position:relative;
    z-index:10;
    bottom:17em;
    right:18em;
}
.prevuserinfo_img{
    margin-left:8em;
    width:6em;
    height:6em;
    cursor:pointer;
}
.prevuserinfo:hover{
    opacity:1.0;
}

.user_ul{
    /*background: rgba(255,0,246,0.3);*/
    position:absolute;
    height:20em;
    z-index:3;
    position:relative;
    list-style: none;
    margin:0;
    padding:0;
    
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.nextuserinfo{
    /*background: rgba(255,0,0,0.3);*/
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    opacity:0.0;
    width:6em;
    
    position:relative;
    z-index:10;
    bottom:23em;
    right:-2em;
}
.nextuserinfo_img{
    margin-left:8em;
    width:6em;
    height:6em;
    cursor:pointer;
}
.nextuserinfo:hover{
    opacity:1.0;
}



.UserInfo {
    width: 25em;
    height: 18em;
    
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.UserBase {
    overflow:hidden;
    width: 100%;

    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.face_recognize_div{
    position:absolute;
    left:19.95%;
    top:-1.9%;
    z-index:100;
}

.face_recognize_border{
    position:absolute;
    z-index:101;
}

.face_recognize_img{
    position:absolute;
    left:19.95%;
    z-index:102;
}



.userimg_div{
    position:relative;
    /*width 100%;*/
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.userimg_border{
    border-radius:50%; 
    overflow:hidden;
    border:rgba(0,0,0,0.3) 0.2em solid;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.userimg_background{
    border-radius:50%; 
    overflow:hidden;
    border:white 0.3em solid;
    /*background-color:white;*/
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.userimg {
    border-radius:50%; 
    overflow:hidden;
}

.username {
    margin-top:0.5em;
    width:100%;
    height:1.2em;
    text-align:center;

    font-size:2.0em;
    font-weight:normal; 
    color:#fff;
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
    
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:clip;
}


.LoginEntry{
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.password_div {
    margin-top:0.6em;
    height:3.0em;
    width:24em;
    border-radius:0.4em;
    border-top:0.1em solid rgba(0,0,0,0.7);
    border-left:0.1em solid rgba(0,0,0,0.7);
    border-right:0.1em solid rgba(0,0,0,0.7);
    border-bottom:0.1em solid rgba(255,255,255,0.3);
    box-shadow:inset 0 -0.1em rgba(0,0,0,0.5);
    /*background:rgba(0,0,0,0.4);*/
    
    display: -webkit-box;
    -webkit-box-align:center;
    z-index:3;
}
.password {
    height:100%;
    width: 100%;
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:0.3em;
    border-style:none;
    outline-style:none;

    font-size: 2.0em;
    color:rgba(255,255,255,0.5);
    display: block;
    z-index:3;
    background:rgba(0,0,0,0.5);
}

.loginbutton{
    position:relative;
    right:3.15em;
    bottom:0.2em;
    width:3.3em;
    height:3.3em;
    z-index:5;
    cursor: pointer;
}


