#roundabout {
    position:fixed;
    list-style: none;
    margin:0 auto;
    width:50%;
    top: 15%;
    padding:0;
    height:30em;
}

#roundabout li {
    width: 14em;
    height: 16.5em;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

#roundabout li.roundabout-in-focus {
    cursor: auto; 
    background: none;
    border: none;
}

.UserInfo {
    color: rgba(0, 0, 0, 0.3);
    opacity:inherit;
}

.UserInfoSelected {
    background: #333;
    color: white;
    opacity:1;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    cursor:pointer;
}

.UserInfoSelected .UserName {
    color: white;
}

.UserBase {
    width: auto;
    height: auto;
    padding-top: 1em;
    text-align:center;
}

.UserImg {
    width: 12em;
    height:12em;
    border: 2px solid rgba(255,255,255,0.8);
    opacity:inherit;
}

.UserName {
    margin: 0.6em auto;
    font-family: Arial;
    color: black;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

.Account {
    background:#fff url(../images/user.png) no-repeat 3px 3px;
    width:158px;
    margin: 0 0 0.5em 0.95em;
    font-size:12px;
    padding-left:20px;
    color:#666;
    height:28px;
    border:2px solid #F60;
    border-radius:3px;
}

.Password {
    background:transparent url(../images/lock.png) no-repeat 3px 3px;
    width:158px;
    padding-left:20px;
    font-size:12px;
    color:#666;
    height:28px;
    border:2px solid #F60;
    border-radius:3px;
}

.PasswordStyle {
    -webkit-text-security:disc !important;
}

.CapsWarning {
    background:#fff;
    margin: 0 0px 8px 0.9em;
    width:156px;
    border-radius:3px;
}

.CapsWarningBackground {
    background:#fff url(../images/exclamation.png) no-repeat 137px 5px;
}

.LoginEntry{
    width:100%;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#000));
    border-radius:5px;
    padding-bottom: 10px;
}

.LoginButton:hover, .LoginButton:focus{
    background: #F60;
}

.LoginButton {
    width:158px; 
    font-size:16px;
    color:#fff;
    cursor: pointer;
    margin-left: 0.7em;
    text-align: center;
    padding:6px;
    line-height:14px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9e5c), to(#F60));
    border:1px solid #F60;
    border-radius:3px;  
}

.SwitchGreeter:hover, .SwitchGreeter:focus {
    background: rgba(255,255,255,0.8);
    color:#000;
}

.SwitchGreeter {
    background: rgba(255,255,255,0.3);
    border: solid 1px rgba(255,255,255,0.6); 
    text-align: center;
    font-size:14px;
    line-height: 14px;
    color: #333;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    padding: 5px 20px;
    border-radius: 3px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.4);
}

.Loading {
    display: block;
    width: auto;
    padding: 0px 5px 10px 0px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#000));
    margin: auto;
    text-align:center;
    border-radius:3px;
}

.Loading span{ 
    color:#00b7e5; 
    font-size:16px;
    margin-top: -5px;
    margin-bottom: 4px;
    display:block;
    opacity: 0.9; 
    text-shadow: 0 0 10px #00b7e5,
    0 0 20px #00b7e5,
    0 0 30px #00b7e5,
    0 0 40px #00b7e5,
    0 0 70px #00b7e5,
    0 0 80px #00b7e5,
    0 0 100px #00b7e5,
    0 0 150px #00b7e5;
}

.ball {
    background-color: rgba(0,0,0,0);
    border:3px solid rgba(0,183,229,0.9);
    opacity: 0.9;
    border-top:3px solid rgba(0,0,0,0);
    border-left:3px solid rgba(0,0,0,0);
    border-radius:25px;
    width:25px;
    height:25px;
    margin:0 auto;
    -webkit-animation:spin 1.5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border:3px solid rgba(0,183,229,0.9);
    opacity: 0.9;
    border-top:3px solid rgba(0,0,0,0);
    border-left:3px solid rgba(0,0,0,0);
    border-radius:25px;
    width:15px;
    height:15px;
    margin:0 auto;
    position:relative;
    top:-25px;
    -webkit-animation:spinoff 1.5s infinite linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
   100% { -webkit-transform:rotate(360deg); }
}

@-webkit-keyframes spinoff {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
}

@-webkit-keyframes refuse{
    0% {-webkit-transform:rotate(0deg);}
   25% {-webkit-transform:rotate(-10deg);}
   50% {-webkit-transform:rotate(0deg);}
   75% {-webkit-transform:rotate(10deg);}
   100% {-webkit-transform:rotate(0deg);}
}

.foo{
    box-shadow: 0px 0px 40px black;
}
