.User{
    width: 25em;
    height: 18em;
}


.switchuser_div{
    /*background-color:rgba(0,122,0,0.2);*/
    position:absolute;
    z-index:20;
    top:0;
    left: 0;
    width:100%;
    height:10em;

    display:-webkit-box;
    -webkit-box-pack:justify;
    /*-webkit-box-orient:vertical;*/

}
.prevuserinfo{
    margin-top:3em;
    width:6em;
    height:6em;
    cursor:pointer;

    opacity:0.0;
}
.prevuserinfo:hover{
    opacity:1.0;
}
.nextuserinfo{
    margin-top:3em;
    width:6em;
    height:6em;
    cursor:pointer;

    opacity:0.0;
}
.nextuserinfo:hover{
    opacity:1.0;
}




.UserInfo {
    position:absolute;
    z-index:11;
    top: 0;
    left: 0;
    width: 25em;
    height: 18em;

    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.UserBase {
    overflow:hidden;
    width: 100%;

    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.face_recognize_div{
    width:10.4em;
    height:10.4em;

    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

.face_recognize_img{
    position:absolute;
    z-index:15;

    width:10.4em;
    height:10.4em;
}



.userimg_div{
    position:absolute;
    z-index:20;
    width:10.4em;
    height:10.4em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.userimg_border{
    width:9.76em;
    height:9.76em;
    border-radius:50%;
    overflow:hidden;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.userimg_background{
    border-radius:50%;
    overflow:hidden;
    border:white 0.3em solid;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.userimg {
    border-radius:50%;
    width:8.8em;
    height:8.8em;
    /*overflow:hidden;*/
}

.username_div {
    width:100%;
    height:1.2em;
    text-align:center;

    font-size:1.6em;
    font-weight:normal;
    color:#fff;
    text-shadow:0 1px 1px rgba(0,0,0,0.7);

    white-space:nowrap;
    overflow:hidden;
    text-overflow:clip;
}


.LoginEntry{
    width:24em;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.password_div {
    margin-top:0.6em;
    height:3.0em;
    width:24em;
    border-radius:0.4em;
    border-bottom-right-radius:0.5em;
    border-bottom-left-radius:0.5em;
    border-top:0.1em solid rgba(0,0,0,0.7);
    border-left:0.1em solid rgba(0,0,0,0.7);
    border-right:0.1em solid rgba(0,0,0,0.7);
    border-bottom:0.1em solid rgba(255,255,255,0.15);
    box-shadow:inset 0 -0.1em rgba(0,0,0,0.5);
    /*background:rgba(0,0,0,0.4);*/
    display: -webkit-box;
    -webkit-box-align:center;
    z-index:13;
}
.password {
    height:100%;
    width: 100%;
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:0.5em;
    border-style:none;
    outline-style:none;
    letter-spacing:5px;

    font-size: 2.0em;
    color:rgba(255,255,255,0.5);
    display: block;
    z-index:13;
    background:rgba(0,0,0,0.5);
}

.loginbutton{
    width:3.3em;
    height:3.3em;
    z-index:15;
    cursor: pointer;
}

.loginbutton_unpwd{
    width:140px;
    height:36px;
    z-index:15;
    cursor:pointer;

    overflow:hidden;
    text-overflow:clip;

    line-height:36px;
    font-size:1.6em;
    font-weight:normal;
    color:rgb(0,0,0);
    text-align:center;

    -webkit-transition:all 150ms linear 0s;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(244,175,83,1)), to(rgba(232,134,42,1)));
    border:rgba(0,0,0,0.8) solid 1px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    box-shadow:0 0 1px 1px rgba(255,255,255,0.7) inset;
    border-radius:4px;
}

.loginbutton_unpwd:lang(zh),.loginbutton_unpwd:lang(jp){
    text-indent:16px;
    letter-spacing:16px;
}

.loginbutton_unpwd:hover{
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(232,134,42,1)), to(rgba(244,175,83,1)));
}
.loginbutton_unpwd:active{
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(232,134,42,1)), to(rgba(244,175,83,1)));
}

.keyboard_img
{
    width:30px;
    height:30px;
    background-image:url(../images/keyboard/keyboard_layout_normal.png);
}

.keyboard_img:hover{
    background-image:url(../images/keyboard/keyboard_layout_hover.png);
}

.keyboard_img:active{
    background-image:url(../images/keyboard/keyboard_layout_press.png);
}

.CapsWarning {
    position:absolute;
    right:4em;
    bottom:2.4em;
    background:url("../images/capslock.png") no-repeat;
    width:23px;
    height:23px;
    display:none;
}

