.Version{
    color:#fff;
    font-size:16px;
    text-shadow: 0 0 2px #333);
}


@font-face {
    font-family:'MavenProLight300';
    src:url('../font/MavenProLight-300.otf') format('opentype');
}

.Version span{
    color: #fff;
    text-shadow:0 0 2px #333;
    font-size:15px;
    opacity:0.5;
    font-family: MavenProLight300;
}


