body {
    background: rgba(10, 10, 10, 0.3);
    color: white;
    /*padding-top:10px;*/
    max-height: 50px;
}


#container {
    display: -webkit-box;
    min-height: 50px;
    max-height: 50px;
}

#icon_default {
    background: rgba(40, 40, 40, 0.5);
}
#icon_list {
    -webkit-box-flex: 10;
    /*background: rgba(100, 0, 100, 0.8);*/
}

#notifyarea {
    background: rgba(0, 100, 0, 0.3);
}

.TrayIcon {
    display: inline-block;
    float:right;
    /*background: rgba(130, 20, 0, 0.9);*/
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
}
