.AppList {
    clear: both;
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding-right: 25px;
}

.AppItem {
    position:relative;
    max-width: 68px;
    max-height: 60px;
    -webkit-box-flex: 1;
    pointer-events: none;
}
.AppItem:hover {
    top: -1px;
}

.AppItemBoard {
    display: none;
}

.ReflectImg {
    -webkit-box-reflect: below -3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
}

.AppItemImg {
    position: absolute;
    border-radius: 6px;
    max-width: 48px;
    max-height: 48px;
}
.AppItemImg:first-child {
    pointer-events: auto;
}

.OpenIndicate {
    position: absolute;
    max-width:66px;
    max-height:52px;
    z-index: -100;
}
