.AppList {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    /* border: solid 2px yellow; */
}

.AppItem {
    /* border: solid 1px red; */
    position:relative;
    max-width: 54px;
    max-height: 60px;
    -webkit-box-flex: 1;
    pointer-events: none;
}

.ReflectImg {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.15)));
}

.AppItemImg {
    position: absolute;
    border-radius: 5px;
    max-width: 48px;
    max-height: 48px;
}

.OpenIndicator {
    position: absolute;
    max-width:66px;
    bottom: -60px;
}

@-webkit-keyframes showOut{
    0% {width: 0px; opacity: 0;}
}
.InsertIndicator {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.3);
    -webkit-animation: showOut 0.1s ease-out;
}
.ItemSwapIndicator {
    -webkit-transition: border 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 2px;
}

.DigitClockTime {
    /* border: solid black 1; */
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
    top: 40%;
    font-weight: bold;
    color: #c93d3d;
}

.DigitClockWeek {
    /* border: solid 1px green; */
    position: absolute;
    font-size: 8px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    top: 4%;
}
