.AppList {
    clear: both;
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding-right: 25px;
}

.AppItem {
    position:relative;
    max-width: 68px;
    max-height: 60px;
    -webkit-box-flex: 1;
    pointer-events: none;
    -webkit-transition: opacity 1s ease-in;
}
.AppItem:hover {
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.2s ease-out;
}

.AppItemBoard {
    display: none;
}

.ReflectImg {
    -webkit-box-reflect: below -3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
}

.AppItemImg {
    position: absolute;
    border-radius: 5px;
    max-width: 48px;
    max-height: 48px;
}

.OpenIndicator {
    position: absolute;
    max-width:66px;
    max-height:52px;
    z-index: -100;
}


.InsertIndicator {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.3);
}
.ItemSwapIndicator {
    -webkit-transition: border 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 2px;
}
