.trayButton {
  visibility:hidden;
  position: absolute;
  bottom: 2px;
  right: 10px;
  pointer-events: auto;
}

.SystemTray {
  display: -webkit-box;
  -webkit-box-pack: center;
}
.SystemTray .imgWarp {
  width: 44px;
  height: 44px;
  left: 2px;
  top: 2px;
  -webkit-border-image: url("../img/tray-panel.png") 7 8 9;
}
