.SystemTray {
  -webkit-transition : width 400ms;
}
.SystemTray .imgWarp {
  -webkit-transform: none !important;
  -webkit-transition: none !important;
  pointer-events: auto;
}

.SystemTrayPanel {
  background: none !important;
  position:relative;
  top: 1px;
  width: 36px;
  height: 36px;
  border-width: 5px 6px 7px;
  -webkit-border-image: url("../img/tray-panel-new.png") 5 6 7;
  max-width: none;
  -webkit-transition : width 400ms;
}
.TrayFoldButton{
  position: absolute;
  top: 26px;
  right: 7px;
  background: url("../img/fold-button-new.png");
  background-position: 100% 0;
  width: 16px;
  height: 16px;
  visibility: hidden;
}
