
#notifyarea {
    /*position: absolute;*/
    /*background: rgba(0, 100, 0, 0.3);*/
    bottom:0px;
    right: 0px;
    -webkit-box-flex: 0;
}


.CustomTrayIcon img {
    width: 16px;
    height: 16px;
}
.CustomTrayIcon {
    float: right;
    display: inline-block;
    margin: 37px 4px 7px 4px;
}
.TrayIconWrap {
    float:left;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 37px 4px 7px 4px;
}

#clock {
    height: 16px;
    line-height: 15px;
    float: left;
    display: inline-block;
    margin: 37px 4px 7px 4px;
    color: black;
}



