body{
    overflow:hidden;
    background-color: rgba(0,0,0,1.0);

    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
    font-size:62.5%;
}

.lp_full{
    background-color: rgba(0,0,0,1.0);
    width:100%;
    height:100%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
