html{
    border-radius:6px;
    background-color:rgba(0,0,0,0.8);
}

.ListChoose{
    display:-webkit-box;
    -webkit-box-pack:center;
    border-radius:6px;
    padding-top:10px;
}

.Listul{
    width:170px;
    margin-left:-40px;
    margin-top:0px;
}

.li{
    padding-left:20px;
    list-style:none;
    border-radius:3px;
    overflow:hidden;
    text-overflow:hidden;
}

#boxscroll li.active{
    background-color:rgba(0,0,0,1.0)
}

.li a{
    text-shadow:0 0.2em 0.2em rgba(0,0,0,0.4);
    height:40px;
    line-height:40px;
    font-size:13px;
    color:#FFF;
}

.nicescroll-rails > div {
    background: -webkit-gradient(linear, left top, left bottom,  from(#000),  to(#000));
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.nicescroll-rails:hover {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
}
