
body{
    cursor:default;
    overflow:hidden;
    
    width:160px;
    height:160px;

    border-radius:15px;
    background-color:rgba(0,0,0,0.7);
     
    font-size:62.5%;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.Option{
    position:absolute;
    width:160px;
    height:160px;
    border-radius:5px;

}
.Audio{
    position:absolute;
    width:160px;
    height:160px;
    border-radius:5px;
}

.Display{
    position:absolute;
    width:160px;
    height:160px;
    border-radius:5px;
}

.valueDiv{
    position:absolute;
    left:31px;
    bottom:20px;
    width:98px; 
    height:10px;
    display:-webkit-box;
    -webkit-box-pack:justify;
}

.valueEach{
    width:8px;
    height:10px;
    display:block;
}
