
body{
    cursor:default;
    overflow:hidden;

    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
    font-size:62.5%;
}

.OSD{
    width:212px;
    height:212px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
