
body{
    cursor:default;
    overflow:hidden;

    width:160px;
    height:160px;
    
    font-size:62.5%;
}

.OSD{
    width:160px;
    height:160px;
    border-radius:5px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.Option{
    width:160px;
    height:160px;
    border-radius:5px;
    background-origin:padding-box;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
    display:-webkit-box;
    -webkit-box-align:center;
}

.valueDiv{
    position:absolute;
    width:98px; 
    height:10px;
    bottom:20px;
}

.valueEachDiv{
    width:8px;
    height:10px;
    margin: 0.9px 0 0.9px 0;
}
