.timeNumber{
  z-index:10;
}

.hourLow {
  margin: 0 1px;
}

.minAndAPM {
  margin-left:1px;
}
.minLow{
  margin-left:1px;
}
.digitWrap,.minWrap {
  display:-webkit-box;
}

.amp{
  margin-top: 3px;
}
.clock{
    position: absolute;
    left: 0;
}
.DigitClockTime {
    /* border: solid black 1; */
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    display:-webkit-box;
    -webkit-box-pack:center;
}

