.timeNumber{
  z-index:10;
}

.hourLow {
  margin: 0 1px;
}

.minAndAPM {
  margin-left:1px;
  display: -webkit-box;
  -webkit-box-pack: end;
  -webkit-box-orient: vertical;
}
.minLow{
  margin-left:1px;
}
.digitWrap,.minWrap {
  display:-webkit-box;
}
.minWrap{
  margin-bottom:1px;
}

.ampmWrap {
  margin-top:2px;
}
.ampm{
}
.clock{
    position: absolute;
    left: 0;
}
.DigitClockTime {
    /* border: solid black 1; */
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    display:-webkit-box;
    -webkit-box-pack:center;
}
.DigitClockTime[data-use24=true] .ampmWrap {
  display:none;
}
.DigitClockTime[data-ampm=am] #pm{
  display:none;
}
.DigitClockTime[data-ampm=pm] #am{
  display:none;
}
