.timeNumber{
  z-index:10;
}

.DigitClockTime {
    /* border: solid black 1; */
    position: absolute;
    text-align: center;
    width: 100%;
    top: 18px;
    left: 0;
    font-weight: bold;
    font-size:8px;
    color: rgb(255,191,12);
    cursor: default;
    display:-webkit-box;
    -webkit-box-pack:center;
}

.DigitClockWeek {
    /* border: solid 1px green; */
    position: absolute;
    font-size: 8px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    top: 6%;
}

