.PWBorder {
  position: fixed;
  bottom:64px;
  opacity: 0;
  -webkit-transition: 0.5s left, 0.2s opacity, 0.5s top;
  pointer-events:none;
}

.bg{
  position:absolute;
  border-radius: 4px;
  left:-6px;
}

.PWContainer {
  border-radius: 5px;
  display: -webkit-box;
  pointer-events:auto;
  /* border:solid green 2px; */
}

.PreviewWindow {
  /* float: left; */
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  height:90%;
  pointer-events: auto;
  /* box-sizing: border-box; */
  /* max-width: 230px; */
  /* max-height: 200px; */

  border: solid 1px rgba(255, 255, 255, 0.0);
  /* border: solid 1px rgba(255, 255, 255, 1); */
  border-radius: 4px;
  position:relative;

  /* margin: 15px; */
}

.PreviewWindowActived {
  border: solid 1px rgba(255, 255, 255, 0.5);
}
.PreviewWindowActived .PWCanvas {
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.PreviewWindow:hover .PWClose{
  visibility: visible;
}
.PreviewWindowInner {
  /* max-width: 230px; */
  /* max-height: 160px; */
  /* border: red solid 1px; */
  border-radius: 3px;
  height:100%;
  position:relative;
}

.PWCanvas {
  background: transparent;
  display: block;
  margin-left:auto;
  margin-right: auto;
  position:relative;
  border: solid 1px rgba(255, 255, 255, 0.2);
  /* border: solid 1px red; */
  border-radius: 2px;
  pointer-events: none;
}
.PWCanvas canvas {
  border-radius: 2px;
}

.PWTitleContainer {
  top: -33px;
  left: 1px;
  display: -webkit-box;
  position: relative;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  width: 98%;
  height: 30px;
  /* border-bottom-left-radius: 1px; */
  /* border-bottom-right-radius: 1px; */
  background: rgba(0,0,0,0.6);
  z-index:10;
  border: solid transparent 1px;
}

.PWTitle {
  pointer-events: none;
  z-index: 10;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,1);
  font-size: 12px;

  margin-top: 2%;
}
.PWClose {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  top: -9px;
  font-weight: 20;
  text-align: center;
  color:white;
  visibility: hidden;
  pointer-events:auto;
}
.PWClose:hover {
  cursor: pointer;
}

.moveAnimation {
  -webkit-transition: -webkit-transform;
}
