.SystemTray {
  -webkit-transition : width 400ms;
}
.SystemTray .imgWrap {
  -webkit-transform: none !important;
  -webkit-transition: none !important;
  pointer-events: auto;
}

.SystemTrayPanel {
  /* background: none !important; */
  position:relative;
  top: 0px;
  width: 100%;
  height:48px;
  max-width: none;
  background: url("../../img/panel.png") no-repeat;
}
.TrayFoldButton{
  position: absolute;
  top: 26px;
  right: 6px;
  background: url("../../img/fashion/fold-button-new.png");
  background-position: 100% 0;
  width: 16px;
  height: 16px;
  visibility: hidden;
}
#timeContent {
  display: none;
}

#timeWrap{
  display:none;
}

#trayarea{
  display:none;
}
