body {
    background: url("../img/desktop_background.jpg");
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*user-select: none;*/
    margin:0px;
    position:fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}
.itemContainer {
    overflow:hidden;
}
.applet {
    float:left;
}
.applet .handlebar:hover {
    background: rgba(100, 0, 100, 0.8);
}

#grid {
    position: absolute;
    left:0px;
    top:0px;
    z-index: -1000;
    height: 100%;
    width: 100%;
    background: rgba(0, 1, 1, 0.4);
}

#item_grid {
    position:fixed;
    background-color:rgba(22, 22, 22, 0.3);
    overflow:hidden;
}

.Folder, .DesktopEntry, .NormalFile {
    width: 80px;
    /*height: 80px;*/
    margin: 10px;
    text-align: center;
    font-size: small;
    color: white;
    text-shadow: 0px 3px 3px black;

}
.Folder:hover {
}

.Folder img, .DesktopEntry img {
    width: 48px;
    height: 48px;
}


/* Generic context menu styles */
.contextMenu {
    background: rgba(200, 200, 150, 0.8);
    position: absolute;
    width: 120px;
    z-index: 99999;
    border: solid 1px #CCC;
    padding: 0px;
    margin: 0px;
    display: none;
}

.contextMenu LI {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contextMenu A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}

.contextMenu LI.hover A {
    color: #FFF;
    background-color: #3399FF;
}

.contextMenu LI.disabled A {
    color: #AAA;
    cursor: default;
}

.contextMenu LI.hover.disabled A {
    background-color: transparent;
}

.contextMenu LI.separator {
    border-top: solid 1px #CCC;
}

/*
    Adding Icons

    You can add icons to the context menu by adding
    classes to the respective LI element(s)
*/

.contextMenu LI.edit A { background-image: url(images/page_white_edit.png); }
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.delete A { background-image: url(images/page_white_delete.png); }
.contextMenu LI.quit A { background-image: url(images/door.png); }
