#system {
  height: 34px;
  margin-right: 20px;
}
#trayarea{
  -webkit-transition: -webkit-transform 400ms;
  -webkit-transform: translateY(110%);
  position: fixed;
  bottom: 0px;
  right: 32px;
  height: 34px;
}

#system-tray {
  display:none;
}

#time {
  max-width:100%;
  width: auto;
  margin: 0;
  margin-left: 8px;
}

#timeWrap {
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

#time .imgWrap {
  display: none;
}

#timeContent {
  pointer-events: auto;
  cursor: default;
  color: white;
  font-size: 13px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
