Source: deepin-desktop-environment
Section: utils
Priority: extra
Maintainer: Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake,
 coffeescript,
 golang-dlib-dev,
 golang-gettext-go-dev,
 golang-go,
 libdeepin-webkit-3.0-0, libgail-3-dev, libgstreamer-plugins-base0.10-dev,
 libgdk-pixbuf2.0-dev,
 libglib2.0-dev,
 libgtk-3-dev,
 liblightdm-gobject-1-dev | liblightdm-gobject-dev,
 libsqlite3-dev,
 libwebkitgtk-3.0-dev,
 libxtst-dev,
 pkg-config,
 python,
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: deepin-desktop-environment
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends}, startdde
Description: Meta Package for Linuxdeepin test desktop environment.
 Linuxdeepin 12.12 testing deskotp environment.
 .
 This package depends those modules includes: dock, launcher, lock, greeter

Package: dde-workspace
Architecture: any
Conflicts: deepin-desktop-environment-dock, deepin-desktop-environment-launcher, 
 deepin-desktop-environment-lightdm-greeter, deepin-desktop-environment-desktop, 
 deepin-desktop-environment-lock, deepin-desktop-environment-dzone, 
 deepin-desktop-environment-dosd, deepin-desktop-environment-common,
 deepin-desktop-environment-plugins-common, deepin-desktop-environment-plugins-clock,
 deepin-desktop-environment-plugins-weather
Depends: ${shlibs:Depends},
 ${misc:Depends},
 deepin-artwork,
 deepin-menu (>= 1.1+20140730105532),
 libdeepin-webkit-3.0-0,
 dde-daemon (>= 0.0.1+20140915),
 dde-control-center (>= 0.0.3+20140801161324),
 systemd-shim,
Description: deepin desktop envrionment for Linuxdeepin new desktop environment.
 Linuxdeepin 12.12 testing deskotp environment.
 .
