#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Computer
Name[zh_HK]=計算機
Name[zh_TW]=計算機
Name[zh_CN]=计算机 
Exec=nautilus --new-window /
Terminal=false
Type=Application
Icon=computer
Categories=Office
