#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Trash
Name[zh_HK]=回收站
Name[zh_TW]=回收站
Name[zh_CN]=回收站 
Exec=nautilus --new-window trash:///
Terminal=false
Type=Application
Icon=user-trash
Icon-full=user-trash-full
Categories=Office
