.Weather {
    width: 286px;
    height: 70px;
    background-image: url(desktop_plugin/weather/img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
.weatherWidget_selectProvince {
    position: relative;
    top:20px;
    left:140px;
}
.more_city_menu {
    background-color: white;
    position: absolute;
    border: 1px;
    border-color: black;
}

.more_city_menu ul {
    top: 5px;
    left: 0px;
    list-style-type: none; 
      /*width: 50px;*/
   /*border-style: solid;*/
   
}

div.more_weather_menu {
    border: 1px;
    display: none;
}

