.Weather {
    position: absolute;
    top:50px;
    left:1000px;
    width: 286px;
    height: 70px;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;    
}

.weather_now_pic{
    position:relative;
    top: 7px;
    left: 20px;  
    width: 48px;
    height: 48px;
}

.temperature_now{
    position:absolute;
    top: 25px;
    left: 95px;   
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: black;   
}

.more_city{
    position:absolute;
    top: 17px;
    left: 150px;
    width: 100px;
    height: 20px;    
  
}

.city{
    position: relative;
    width: 80px;
    left: 5px;
    /*text-align: center;*/
}

.more_city_img{
    position:absolute;
    top:-2px;
    right:10px;
    width: 20px;
    height: 20px;
    opacity:0.8; 
}

.more_city_menu{
    position:absolute;
    top: 65px;
    left: 80px;   
    display:none;
}

.city_and_date{
    position:absolute;
    top: 35px;
    left: 150px;
    height: 40px;
}

.date{
   color: black; 
}

.more_weather_menu{
    position:absolute;
    left: 80px;
    top: 65px;
    width: 175px;
    display: none;
    opacity: 0.8;
}

.week1,
.week2,
.week3,
.week4,
.week5,
.week6{
    position: relative;
    left: 5px;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6{
    position: relative;
    left: 17px;
    width: 24px;
    height: 24px;
}

.temperature1,
.temperature2,
.temperature3,
.temperature4,
.temperature5,
.temperature6{
    position: relative;
    left: 30px;
}


.first_day_weather_data,
.third_day_weather_data,
.fifth_day_weather_data{
    background-color: #EEE8AA;
    opacity:0.8;
}

.second_day_weather_data,
.fourth_day_weather_data,
.sixth_day_weather_data{
    background-color: #00BFFF;
    opacity:0.8;
}


.chooseprov{
    position:absolute;
    top: 0px;
    left: -40px;
    width: 90px;
    opacity: 0.8;
}

.choosecity{
    position:absolute;
    top: 0px;
    left: 70px; 
    width: 90px; 
    opacity: 0.8;
}

.refresh{
    position:absolute;
    top: 18px;
    left: 247px;   
    width: 30px;
    height: 30px;
    opacity:0.6;
}

.close{
    position:absolute;
    top: 5px;
    left: 243px; 
    width: 22px;
    height: 15px;
    opacity:0.8;
}

.closebutton{
    display:none;
}