.Weather {
    position: absolute;
    top:50px;
    left:1000px;
    width: 286px;
    height: 70px;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;    
}

.weather_now_pic{
    position:relative;
    top: 7px;
    left: 20px;  
    width: 50px;
    height: 46px;
}

.temperature_now{
    position:absolute;
    top: 25px;
    left: 95px;   
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #00BFFF;   
}

.city_and_date{
    position:absolute;
    top: 15px;
    left: 150px;
    height: 40px;

}

.city{
    position:relative;
    left: 5px;   
    color: #00BFFF;     
}

.date{
   color: #00BFFF; 
}

.more_weather_menu{
    position:absolute;
    left: 80px;
    top: 65px;
    width: 175px;
    display: none;
}

.first_day_weather_data{
    background-color: #EEE8AA;
    opacity:0.6;
}

.pic1{
    width: 30px;
    height: 28px;
}

.second_day_weather_data{
    background-color: #00BFFF;
    opacity:0.6;
}

.pic2{
    width: 30px;
    height: 28px;
}

.third_day_weather_data{
    background-color: #EEE8AA;
    opacity:0.6;
}

.pic3{
    width: 30px;
    height: 28px;
}

.fourth_day_weather_data{
    background-color: #00BFFF;
    opacity:0.6;
}

.pic4{
    width: 30px;
    height: 28px;
}

.fifth_day_weather_data{
    background-color: #EEE8AA;
    opacity:0.6;
}

.pic5{
    width: 30px;
    height: 28px;
}

.sixth_day_weather_data{
    background-color: #00BFFF;
    opacity:0.6;
}

.pic6{
    width: 30px;
    height: 28px;
}

.refresh{
    position:absolute;
    top: 12px;
    left: 215px;   
    width: 20px;
    height: 20px;
}

.more_city{
    position:absolute;
    top: 15px;
    left: 190px;       
}

.more_city_menu{
    position:absolute;
    top: 65px;
    left: 80px;   
    display:none;
}

.chooseprov{
    position:absolute;
    top: 0px;
    left: -40px;
    width: 90px;
    /*display: none;*/
}

.choosecity{
    position:absolute;
    top: 0px;
    left: 70px; 
    width: 90px; 
    /*display: none;*/
}